html
{
    background: #be7a7a;
    color: #ffffff;
}

h1
{
    color: #ff0000
}

span1
{
    background: #000000;
    border: solid;
    border-color: rosybrown;
    padding-left: 6px;
    padding-top: 25px;
    padding-right: 6px;
}